
#navbarSupportedContent{
 
  /* justify-content: space-around; */
  justify-content: end;
}


.first{
background-image: url(itphto/physiotherapy-montreal-west-island-2.jpg);
background-position: 50% 18.5%;
width: 100%;
background-repeat: no-repeat;
background-size: cover;
transition-property: opacity,transform;
min-height: 600px;
height: calc(100vh);
}
.container.ab{
width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4rem;
}





.display-3{
    color: white;
}

  .typewriter h1 {
    color: #fff;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #ea728c; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ea728c }
  }
  
  .info{
    padding: 2rem 0;
  }
  .info2{
    position: relative;
    z-index: 2;
    padding: 30px;
    background: #fff;
    margin-top: -80px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05)
  }
  .row.ab{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    /* min-height: 85px;
    height: calc(5vh); */

  }
  .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

  }
  .row.cd{
    /* min-height: 300px;
    height: calc(50vh); */
  }
   
   a:hover{
color: #ea728c;
   }
   



   /* animation 2 */
   .counter {
    width: 100px;
    font: 800 40px system-ui;
    overflow: hidden;
    margin-top: 28px;
  }
  .numbers {
    width: auto;
    display: flex;
    animation: countNumber 4s infinite alternate;
    animation-timing-function: steps(10);
  }
  .numbers div {
    text-align: center;
    flex: 0 0 100px;
  }
  
  @keyframes countNumber {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: -1000px;
    }
  }
  /* animation 3*/

  @property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  .animation3{
    animation: counter 10s infinite alternate ease-in-out;
    counter-reset: num var(--num);
    font: 800 40px system-ui;
    margin-left: 2rem;
    margin-top: 28px;
  }
  .animation3::after {
    content: counter(num);
  }
  
  @keyframes counter {
    from {
      --num: 0;
    }
    to {
      --num: 100;
    }
  }
  
  /* end animation */
.our{
  margin-bottom: 3rem;
   text-align: center;

}
.text{
  margin-top: 2rem;
}
 /* coursel   */
 
 .list-unstyled li a{
  list-style: none;
  text-decoration:none;
  color: gray;
}
/* p{
  display: block;
} */


.secc{
  padding: 0%;
margin-top: 20px;
display: flex;
}
.secc li{
   list-style: none;
}
.secc li a{
display: inline-block;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
margin-right: 10px;
text-decoration: none;
border-radius:4px;
display: flex;
}
.ml-auto {
  margin-left: auto;
}
.icon{
  text-align: center;
}
  @media  only screen and (max-width:320px)  {
    .display-3{
        font-size: 1.8rem !important;
     
    } 
}
 
@media  only screen and (max-width:600px)  {
    .info2{
        height: 26rem;
        margin-top: -54px;
    } 
}
@media  only screen and (max-width:600px)  {
  .our{
      
  } 
}

