body {
    line-height: 1.7;
    color: #4d4d4d;
    font-weight: 400;
    font-size: 1rem;
}
.bnr{
    height: 400px;
}
.box{
  
   padding-left: 40px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    
}
.ctn{
    background-image:url("itphto/person_1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-color:palevioletred;
    
/* max-width: 1740px; */
}
.btn{
    justify-content: center;
    align-items:center;
}
.button{
background-color: transparent;
color: white;
border: 2px solid white;
border-radius:10px;
text-align: center;
width: 200px;
height: 40px;
}
 /* .col-lg-6{
    width: 50%;
}  */
.h-entry .h-entry-inner{
        padding: 6px;
        border: 1px solid #eee;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
}
.site-section{
    padding: 5em;
}
/* .fluid-container{
    max-width: 100%;
} */
.container {
 max-width: 1140px;
}
.list-unstyled li a{
    list-style: none;
    text-decoration:none;
    color: gray;
}
/* p{
    display: block;
} */

.secc{
    padding: 0%;
  margin-top: 20px;
  display: flex;
  }
  .secc li{
     list-style: none;
  }
.secc li a{
 display: inline;
 justify-content: center;
 align-items: center;
 width: 40px;
 height: 40px;
 margin-right: 10px;
 text-decoration: none;
 border-radius:4px;
display: flex; 
}
.ml-auto {
    margin-left: auto;
}
@media (max-width: 768px){
    .bnr{
        display: flex;
        flex-direction:column;
       
    }
.container {
    max-width: 720px;
}
}
/* @media(max-width:941px){
    .secc{
        display: block;
    }
    .secc li {
 margin: 10px;
    } */
    @media(max-width:768px){
        .iconfirst{
            display: block;
        }
    }
    @media(max-width:650px){
        .iconsecond{
            display: block;
        }
    }
.btnsend{
    border-radius: 12px;
    height: 40px;
    border: none;
    background-color: purple;
}
.bg{
    background-color: rgb(219, 229, 232);
}
.contact{
    height: 300px;
    margin-top: 80px;
}
.bg1{ 
    height: 366px;
    margin-top: 20px;
    padding-top:4% ;
}
.bgm{
    margin-top: 20px;
    padding-top: 50px;
    background-color: #eee;}
    #navbarSupportedContent{
        /* justify-content: space-around; */
        justify-content: end;
      }
      .first{
      background-image: url("itphto/physiotherapy-montreal-west-island-2.jpg");
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      transition-property: opacity,transform;
      min-height: 600px;
      height: calc(100vh);
      }
      .container.ab{
      width: 100%;
          padding-right: 15px;
          padding-left: 15px;
          margin-right: auto;
          margin-left: auto;
          margin-top: 4rem;
      }
      .display-3{
          color: white;
      }
        .typewriter h1 {
          color: #fff;
          font-family: monospace;
          overflow: hidden; /* Ensures the content is not revealed until the animation */
          border-right: .15em solid #EA728C; /* The typwriter cursor */
          white-space: nowrap; /* Keeps the content on a single line */
          margin: 0 auto; /* Gives that scrolling effect as the typing happens */
          letter-spacing: .15em; /* Adjust as needed */
          animation:
            typing 3.5s steps(30, end),
            blink-caret .5s step-end infinite;
        }
        /* The typing effect */
        @keyframes typing {
          from { width: 0 }
          to { width: 100% }
        }
        /* The typewriter cursor effect */
        @keyframes blink-caret {
          from, to { border-color: transparent }
          50% { border-color: #EA728C }
        }
        @media  only screen and (max-width:320px)  {
            .display-3{
                font-size: 1.8rem !important;
            }
        }